* {
  box-sizing: border-box;
  --secondary: cyan;
  --input-back: #101010D0;
  --input-hover: #4e4e4eaa;
}

html, body {
  height: 100%;
}

.logo, nav {
  display: inline;
}

h1 {
  margin: 0;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: var(--secondary);
}

nav a {
  font-size: 200%;
  text-decoration: none;
  border-bottom: 2px solid #444;
}

nav a.active {
  border-bottom: 2px solid var(--secondary)
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: black;
}

.main-wrapper {
  flex: 1 0 auto;
}

footer, header, main {
  background: #080808AA;
  color: white;
  width: 100%;
  padding: 0.5em;
  backdrop-filter: blur(16px);
}

footer {
  flex-shrink: 0;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 1em;
}

header {
  margin-bottom: 1em;
}

.background {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url("./img/background.jpg") fixed;
  background-size: cover;
  filter: saturate(80%) brightness(80%);
  z-index: -1;
}

label {
  display: block;
}

select, input {
  display: block;
  width: 100%;
  border: 1px solid white;
  background: var(--input-back);
  padding: 3px;
  color: white;
  margin-bottom: 1em;
}

select:focus, input:focus {
  border: 1px solid var(--secondary);
}

h2 {
  margin-top: 0px;
}

.hidden {
  display: none;
}

.error {
  background: #FF202080;
  padding: 1em;
  margin-bottom: 1em;
}

.info {
  background: #20d2ff80;
  padding: 1em;
  margin-bottom: 1em;
}

.info .fas {
  margin-right: 0.5em;
}

.radio, button, .file-download, .block-link {
  display: block;
  border: 1px solid white;
  margin-bottom: 1em;
  padding: 1em;
  cursor: pointer;
  background: var(--input-back);
  text-decoration: none;
  color: white;
}

button:hover, .file-download:hover, .block-link:hover {
  border: 1px solid var(--secondary);
  background: var(--input-hover);
}

.file-download-button {
  float: right;
}

.file-download:hover .file-download-button {
  color: var(--secondary);
}

.radio {
  display: flex;
  padding: 0px;
}

.radio-item {
  flex-grow: 1;
  padding: 1em;
  text-align: center;
}

.radio-item:hover, .radio-item.active:hover {
  background: var(--input-hover);
}

.radio-item img {
  max-width: 90%;
}

.radio-item.active {
  color: var(--secondary);
  background: #00000080
}

.radio-item.active img {
  border: 1px solid var(--secondary);
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000A;
  text-align: center;
  padding-top: 25vh;
}

.loader-text {
  color: white;
  margin-top: 1em;
  font-size: 200%;
}

/* Loading spinner */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}